* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --dark-neutral-0: rgb(22,26,29);
    --dark-neutral-100: rgb(29,33,37);
    --dark-neutral-200: rgb(34,39,43);
    --dark-neutral-250: rgb(40,46,51);
    --dark-neutral-300: rgb(44,51,58);
    --dark-neutral-350: rgb(56,65,74);
    --dark-neutral-400: rgb(69,79,89);
    --dark-neutral-500: rgb(89,103,115);
    --dark-neutral-600: rgb(115,132,150);
    --dark-neutral-700: rgb(140,155,171);
    --dark-neutral-1000: rgb(199,209,219);
}

body {
    height: 100dvh;
    background-color: var(--dark-neutral-0);
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    color: white;
}

header,
footer {
    background-color: var(--dark-neutral-100);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 2rem;
    align-items: center;
}

/* HEADER */

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: default;
}

.searchField {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.icon,
input[type="search"] {
    height: 2rem;
}

label:hover {
    cursor: pointer;
}

.icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7497%) hue-rotate(35deg) brightness(99%) contrast(99%);
}

input[type="search"] {
    height: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    flex: 1;
    max-width: clamp(200px, 80%, 800px);
}

.action-buttons {
    display: flex;
    gap: 2rem;
}

.action-button {
    font-size: 1.1rem;
    background-color: var(--dark-neutral-300);
    border: 1px solid var(--dark-neutral-700);
    color: white;
    padding: 0.4rem;
    border-radius: 5px;
    width: 120px;
}

.action-button:hover {
    background-color: var(--dark-neutral-350);
    cursor: pointer;
    border: 1px solid white;
    transition: 0.2s all;
}


/* FOOTER */

footer>h3 {
    font-size: 1.1rem;
}

footer {
    color: var(--dark-neutral-1000)
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--dark-neutral-700);
    border-bottom: 1px solid var(--dark-neutral-700);
}

.entryHeader,
.mainEntry,
.hiddenEntry {
    display: grid;
    grid-template-columns: 5fr 3fr 150px 150px;
    justify-items: center;
    align-items: center;
}

.mainEntry>p,
.hiddenEntry>p {
    font-size: 1.2rem;
}

.entryHeader {
    height: 2rem;
    align-items: center;
    border-bottom: 1px solid var(--dark-neutral-700);
    background-color: var(--dark-neutral-0);
}

.libraryEntry:nth-child(odd) {
    background-color: var(--dark-neutral-200);
}

.libraryEntry:nth-child(even) {
    background-color: var(--dark-neutral-250);
}

.libraryEntry:hover {
    cursor: pointer;
    background-color: var(--dark-neutral-350);
    transition: background 0.2s;
}

.mainEntry {
    height: 50px;
}

.hiddenEntry {
    height: 0px;
    background-color: var(--dark-neutral-400);
    transition: all 0.3s;
}

.show {
    border-bottom: 1px solid var(--dark-neutral-700);
    height: 50px;
    transition: all 0.3s;
}

.active.libraryEntry {
    transition: border 0.3s;
    border-top: 1px solid var(--dark-neutral-700);
    background-color: var(--dark-neutral-350);
}

/* MODAL */

.modal {
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(50, 50, 50, 0.4);
    position: fixed;
}

.hidden {
    visibility: hidden;
}